@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* reset.css */

/* Basic Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
#dataweb{
  background-color: #FEFEFE;
  border: none;
  padding: 10px 5px;
font-size: 16px;
cursor: pointer;
  border-radius: 5px;
margin-top: 20px;
border: 1.5px solid;
border-radius: 25px;
width: 300px;
border-image: linear-gradient(180deg, rgba(29, 58, 160, 0.1) 0%, #0085FF 50.5%, rgba(29, 58, 160, 0.1) 100%) 1;
box-shadow: 4px 4px 10px 0px #0000000D;


}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Additional Reset */
input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}
body{
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.ppxiss-input-container{
  margin-bottom: 15px;
}
.ppxiss-modal-container{
  position: fixed;
  border: none;
  border-radius: 20px;
  padding: 20px;
  height: 215px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FEFEFE;
  z-index: 1000;
}
.ppxiss-button-container{
  padding: 0 20px;
}
.ppxiss-otp-input{
  width: 30px !important;
  height: 50px;
  margin: 0 3px;
  outline: none;
  border: 1px solid #DADADA;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #1D3AA0;
}
.ppxiss-modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.ppxiss-modal-title{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  color:#1D3AA0 ;
}
.ppxiss-buttom-error-fallbck {
  background-color: #1D3AA0;
  color:white;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
}
.ppxiss-card-brand-container-up{

  display: flex;
  justify-content: space-between;
  background-color: #000000;
  border-radius: 10px 10px 0 0;
}
.ppxiss-card-brand-background {
  position: absolute;
  top: -5%;
  left: 0;
  width: 90%;
  height: 110%;
  background-color: green;
  z-index: -1; /* Asegura que la carta de fondo esté detrás */
  border-radius: 8px; /* Ajusta según sea necesario */
}
.ppxiss-modal-container::backdrop {
  background-color: rgba(128, 128, 128, 0.5); /* Gris y transparente */
}
.ppxiss-text-header-info{
  font-size: 12px;
  font-weight: 500;
  color: #838383;
}
.ppxiss-text-strong{
  font-weight: 600 !important;
}
.ppxiss-form-multi-select{
  border-radius: 20px !important;
}
.MuiInputBase-root{
  border-radius: 20px !important;
}
.ppxiss-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.ppxiss-form-otp{
  text-align: center;
}
.ppxiss-medium-width{
  width: 140px !important;
}
.ppxiss-footer-info-resend{
  font-weight: 500;
  font-size: 10px;
  text-decoration-line: underline;
  color: #838383 ;
  cursor: pointer;
}
.ppxiss-footer-info{
  font-size: 10px;
  font-weight: 300;
  color: #838383 ;
}
.ppxiss-box-element{
  margin: 0 !important;
}
#ppxiss-multiselect-label{
  font-size: 15px;
  font-weight: 500;
  color: #DADADA;
}
.ppxiss-button-payiss-pay{
  width: 214px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    padding: 10px 20px;
    animation: pulse 2s infinite;
    transition: background 0.3s ease;
}
.ppxiss-text-footeer-small{
  font-size: 12px;
  font-weight: 500;
  color: #1D3AA0;
}
.ppxiss-button-active{
  background: linear-gradient(0deg, #1D3AA0 0%, #0085FF 100%);
  cursor: pointer;
}
.ppxiss-moreinfo-container{
  position: relative;
  border-radius: 20px;
  border: 1px solid #DADADA;
  padding: 10px 0;
}
.float-label {
  position: absolute;
  top: -6px;
  left: 18px; /* Ajusta este valor según sea necesario */
  font-size: 12px; /* Ajusta el tamaño de la fuente según sea necesario */
  color: #DADADA; 
  font-size: 11px;
  font-weight: 500;
  z-index: 10;
  background-color: white;/* Ajusta el color según sea necesario */
}
.ppx-iss-button-container{
  display: flex;
  justify-content: center;
}
.ppxiss-button-split-info{
  font-size: 12px;
  position: absolute;
  top: 13px;
  left: 270px;
  background-color: white;
  border: none;
  font-weight: 500;
  color: #1D3AA0;
  cursor: pointer;
}
.ppx-iss-input-label{
  z-index: 10;
  bottom: 42px;
  left: 15px;
  background-color: white;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  color: #DADADA;
}
.ppx-iss-input-label-medium {
  z-index: 10;
  bottom: 37px;
  left: 15px;
  background-color: white;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  color: #DADADA;
}
.ppx-iss-input-label-textarea{
  z-index: 10;
  bottom: 61px;
  left: 32px;
  background-color: white;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  color: #DADADA;
}
.ppxiss-message-errors{
  margin: 0;
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 16px;
}
.ppxiss-card-brand-padding{
  padding: 5px 25px !important;
}
.ppxiss-button-inactive{
  background: #C5CDEC;
  cursor: no-drop;
}
.ppxiss-button-payiss-pay span {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
    font-weight: 800;
    color: white;
    line-height: 21.82px;
}
.ppxiss-card-brand-container{
  background: radial-gradient(94.37% 100% at 50% 0%, #0085FF 5.9%, #1451BE 60.4%, #1D3AA0 100%);
  border-radius: 20px;
  padding: 18px 12px;
  margin-bottom: 20px;
  width: 270px;
  height: 130px;
  display: flex;
  flex-direction: column;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  

}
.ppxiss-card-brand-content {
  flex: 1; /* Permite que el contenido crezca y ocupe el espacio disponible */
}
.ppxiss-card-brand-container-card{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.ppxiss-card-brand-font-large{
  color: white;
  font-size: 18px;
  font-weight: 800;
}
.ppxiss-input-field-container{
  position: relative;
}
.ppxiss-input-component{
  position: relative;
  width: 100%;
  height: 35px;
  padding: 7px 15px;
  border-radius: 20px;
}
.ppxiss-input-component:hover{
  border: 1px solid #10D7A6;
}
.ppxiss-select{
  width: 100%;
  height: 35px;
  padding: 7px 15px;
  border-radius: 20px;
  margin-bottom: 5px;
  border: 1px solid #DADADA;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
  padding-right: 30px; 
}
.ppxiss-input-component-error{
  border: 1px solid red;
 
}
.fixed-width-option {
  width: 200px; /* Ajusta este valor según tus necesidades */
  display: flex;
  align-items: center;
}
.ppxiss-input-component-ok{
  border: 1px solid #DADADA;
  margin-bottom: 13px;
}

.ppxiss-input-component::placeholder{
  color: #C5CDEC;
}

.ppxiss-input-component:focus{
  outline: none;
  border: 2px solid #0085FF;
}
.ppxiss-card-brand-font-medium{
  color: white;
  font-size: 14px;
  font-weight: 800;
}
.ppxiss-card-brand-font-small{
  color: white;
  font-size: 12px;
  font-weight: 500;
}
.ppxiss-card-brand-container-date-brandname{
  display: flex; 
}
.ppxiss-card-brand-container-date-brandname-column{
  display: flex;
  width: 50%;
}
.ppxiss-left{
  justify-content: flex-start;
}
.ppxiss-right{
  justify-content: flex-end;
}

.ppxiss-align-center{
  display: flex;
  justify-content: center;

}
.ppxis-text-align-center{
  text-align: center;
}
#creditType{
  width: 100%;
  height: 39px;
  padding: 7px 15px;
  border-radius: 20px;
  margin-bottom: 5px;
  border: 1px solid #DADADA;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
  padding-right: 30px; 
}
#creditType::after{
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
#creditType option{
  background: white;
  color: #212121;
}
#creditType option:hover{
  background-color: #DADADA;
}

/* Container */
.ppxiss-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.ppxiss-form-container{
  padding: 10px;
  width: 100%;
}

.ppxiss-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Row */
.ppxiss-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Columns */
.ppxiss-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.ppxiss-col-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
.ppxiss-col-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
.ppxiss-col-3 { flex: 0 0 25%; max-width: 25%; }
.ppxiss-col-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
.ppxiss-col-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
.ppxiss-col-6 { flex: 0 0 50%; max-width: 50%; }
.ppxiss-col-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
.ppxiss-col-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
.ppxiss-col-9 { flex: 0 0 75%; max-width: 75%; }
.ppxiss-col-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
.ppxiss-col-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
.ppxiss-col-12 { flex: 0 0 100%; max-width: 100%; }

.ppxiss-error-title {
  color: #1D3AA0;
  font-weight: 700;
  font-size: 20px;
  line-height: 27.28px;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  max-width: auto;
}
.custom-dropdown:hover{
  border: #10D7A6 1px solid;
}
.custom-dropdown-alter:hover{
  border: #10D7A6 1px solid;
}
.custom-dropdown-alter{
  position: relative;
  display: inline-block;
  border-radius: 20px 0 0 20px;
  max-width: auto
}

.dropdown-header {
  padding: 10px;
  border-radius: 20px;
  width: 112px;
  cursor: pointer;
}
.dropdown-header-alter{
  padding: 10px;
  border-radius: 20px 0 0 20px;
  width: 112px;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  max-height: 200px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  scrollbar-width: thin;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f0f0f0;
}
